.App {
    text-align: center;
}

.wrapper {
    width: 40px;
    height: 40px;
}

.top {
    border-top: solid 6px;
}

.right {
    border-right: solid 6px;
}

.bottom {
    border-bottom: solid 6px;
}

.left {
    border-left: solid 6px;
}
